.chart {
    display: block;
    margin: auto;
}

text {
    font-size: 12px;
    text-anchor: middle;
}

#tooltip {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    display: none;
    pointer-events: none;
}
